body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}
header {
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 69px;
}
nav {
  float: right;
  color: seashell;
}

span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

header img {
  height: 50px;
  padding: 10px;
}

div {
  display: block;
}
.main_bg {
  width: 1200px;
  margin: auto;
}

#bg_img {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
}

#bg_img .content {
  margin: auto;
  background-color: black;
  width: 100%;
  text-align: center;
}
h2 {
  display: block;
  font-weight: bold;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}
#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  text-align: center;
}

.image img {
  height: 200px;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

.flex-container-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image span {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px; 
}
