body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}
.topheader {

}
span {
  display: inline-block;
  height: 69px;
  margin: 0 auto;
  float: right;
  color: seashell;
  padding: 30px 30px 30px 30px;
  text-decoration: underline;
}
.logo {
  height: 19px;
  width: 20px;
}
img {
  height: 50px;
padding: 20px 10px 20px 10px;
}
