body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}

span {
  display: inline-block;
  height: 69px;
  margin: 0 auto;
  float: right;
  color: seashell;
  padding: 30px 30px 30px 30px;
  text-decoration: underline;
}
.logo {
  height: 20px;
  width: 10px;
  padding: 20px 10px 20px 10px;
  margin: 20px 10px 20px 10px;
}

}
.main_bg {
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
justify-content: center;
width: 100%;
}
